<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<br>
<br>
<div class="container-fluid">

	<div class="container-fluid">
		<h1 class="display-2 text-center"> Allergy Alert <i style="color:red" class="fas fa-hamburger"></i></h1>
		<br>
		<form class="text-center" method="POST" action="/foodSearch">
			<div class="input-group" style="display: block">
				<input class="form-control-lg" type="form" name="foodInput"></input>
				<span class="input-group-btn">
					<input class="btn btn-outline-primary btn-lg" type="submit" name="foodSubmit" style="vertical-align: unset !important;"  value="Search for a food item"></input>
				</span>	
			</div>
		</form>
		<form class="text-center" method="POST" action="/allergyInput">
			<div class="input-group" style="display: block">
				<input class="form-control-lg" type="form" name="allergyInput"></input>
				<span class="input-group-btn">
					<input class="btn btn-outline-danger btn-lg" type="submit" style="vertical-align: unset !important; margin-right: 3.5em;"  name="allergySubmit" value="Add an allergy"></input>
				</span>
			</div>
		</form>
	</div>
	<div class="text-center">
		<h3>
{% for allergy in allergyList %}
	
	<span class="badge badge-danger">
		<a style="color: white;text-decoration: none;" href="/removeBadge/{{ allergy }}">
		{{ allergy }}
	</a>
	</span>

{% endfor %}
</h3>
</div>
</div>
